In [2]:
import pandas as pd
import numpy as np
import re
df_students=pd.read_csv('students_india.csv')
df_internships=pd.read_csv('internships_india.csv')

In [3]:
df_students.head()

,id,name,skills,location,stipend
0,1,Sakshi0,"SQL, Marketing, Python, Java, Finance",Jaipur,19319
1,2,Karan1,"Machine Learning, React, Java, Marketing, Node.js",Mumbai,18037
2,3,Meera2,"C++, React, Machine Learning, Marketing, Java",Noida,11576
3,4,Aditi3,"SQL, Java",Kolkata,18557
4,5,Aman4,"React, Node.js, Marketing, Python, Machine Lea...",Kolkata,17394

In [4]:
df_internships.head()

,id,company_name,skills_required,location,stipend,duration,apply_link
0,1,Wipro,"Python, Node.js, React",Bangalore,20380,1 month,https://apply.wipro.com/0
1,2,Paytm,"Node.js, React",Ahmedabad,8838,5 months,https://apply.paytm.com/1
2,3,Swiggy,"Java, Communication, React",Jaipur,16146,2 months,https://apply.swiggy.com/2
3,4,Infosys,"Node.js, Finance",Ahmedabad,21684,5 months,https://apply.infosys.com/3
4,5,Swiggy,"Marketing, React, C++, Excel",Bangalore,12064,4 months,https://apply.swiggy.com/4

In [5]:
df_students.drop(['name'],axis=1,inplace=True)

In [6]:
df_students.head()

   id                                             skills location  stipend
0   1              SQL, Marketing, Python, Java, Finance   Jaipur    19319
1   2  Machine Learning, React, Java, Marketing, Node.js   Mumbai    18037
2   3      C++, React, Machine Learning, Marketing, Java    Noida    11576
3   4                                          SQL, Java  Kolkata    18557
4   5  React, Node.js, Marketing, Python, Machine Lea...  Kolkata    17394

In [7]:
df_students.dropna()

,id,skills,location,stipend
0,1,"SQL, Marketing, Python, Java, Finance",Jaipur,19319
1,2,"Machine Learning, React, Java, Marketing, Node.js",Mumbai,18037
2,3,"C++, React, Machine Learning, Marketing, Java",Noida,11576
3,4,"SQL, Java",Kolkata,18557
4,5,"React, Node.js, Marketing, Python, Machine Lea...",Kolkata,17394
...,...,...,...,...
9995,9996,"Marketing, Python",Chennai,16117
9996,9997,"Machine Learning, SQL",Delhi,5659
9997,9998,"Node.js, Machine Learning, React",Kolkata,21888
9998,9999,"C++, Python, SQL",Chennai,22854
9999,10000,"Python, SQL, Finance",Pune,7452

In [8]:
df_internships.dropna()

,id,company_name,skills_required,location,stipend,duration,apply_link
0,1,Wipro,"Python, Node.js, React",Bangalore,20380,1 month,https://apply.wipro.com/0
1,2,Paytm,"Node.js, React",Ahmedabad,8838,5 months,https://apply.paytm.com/1
2,3,Swiggy,"Java, Communication, React",Jaipur,16146,2 months,https://apply.swiggy.com/2
3,4,Infosys,"Node.js, Finance",Ahmedabad,21684,5 months,https://apply.infosys.com/3
4,5,Swiggy,"Marketing, React, C++, Excel",Bangalore,12064,4 months,https://apply.swiggy.com/4
...,...,...,...,...,...,...,...
9995,9996,Flipkart,"Marketing, Java, Finance",Noida,12023,5 months,https://apply.flipkart.com/9995
9996,9997,TCS,"Java, Marketing",Delhi,18445,1 month,https://apply.tcs.com/9996
9997,9998,Razorpay,"SQL, Python, Marketing, React",Kolkata,5860,2 months,https://apply.razorpay.com/9997
9998,9999,Zomato,"Python, Machine Learning",Noida,10572,2 months,https://apply.zomato.com/9998
9999,10000,Infosys,"Node.js, SQL, Excel, Machine Learning",Noida,18027,3 months,https://apply.infosys.com/9999

In [9]:
df_students.shape

(10000, 4)

In [10]:
df_internships.shape

(10000, 7)

In [11]:
df_students.isnull().sum()

id          0
skills      0
location    0
stipend     0
dtype: int64

In [12]:
df_internships.isnull().sum()

id                 0
company_name       0
skills_required    0
location           0
stipend            0
duration           0
apply_link         0
dtype: int64

In [13]:
df_students.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        10000 non-null  int64
 1   skills    10000 non-null  object
 2   location  10000 non-null  object
 3   stipend   10000 non-null  int64
dtypes: int64(2), object(2)
memory usage: 312.6+ KB

In [14]:
df_internships.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               10000 non-null  int64
 1   company_name     10000 non-null  object
 2   skills_required  10000 non-null  object
 3   location         10000 non-null  object
 4   stipend          10000 non-null  int64
 5   duration         10000 non-null  object
 6   apply_link       10000 non-null  object
dtypes: int64(2), object(5)
memory usage: 547.0+ KB

In [15]:
for col in df_students.select_dtypes(include=['object']).columns:
    df_students[col] = df_students[col].str.replace('\t', ' ').str.replace('\n', ' ')

In [16]:
for col in df_students.select_dtypes(include=['object']).columns:
    df_students[col] = df_students[col].str.replace('\r', ' ')

In [17]:
for col in df_internships.select_dtypes(include=['object']).columns:
    df_internships[col] = df_internships[col].str.replace('\t', ' ').str.replace('\n', ' ')

In [18]:
df_students.head()

   id                                             skills location  stipend
0   1              SQL, Marketing, Python, Java, Finance   Jaipur    19319
1   2  Machine Learning, React, Java, Marketing, Node.js   Mumbai    18037
2   3      C++, React, Machine Learning, Marketing, Java    Noida    11576
3   4                                          SQL, Java  Kolkata    18557
4   5  React, Node.js, Marketing, Python, Machine Lea...  Kolkata    17394

In [19]:
df_internships.head()

,id,company_name,skills_required,location,stipend,duration,apply_link
0,1,Wipro,"Python, Node.js, React",Bangalore,20380,1 month,https://apply.wipro.com/0
1,2,Paytm,"Node.js, React",Ahmedabad,8838,5 months,https://apply.paytm.com/1
2,3,Swiggy,"Java, Communication, React",Jaipur,16146,2 months,https://apply.swiggy.com/2
3,4,Infosys,"Node.js, Finance",Ahmedabad,21684,5 months,https://apply.infosys.com/3
4,5,Swiggy,"Marketing, React, C++, Excel",Bangalore,12064,4 months,https://apply.swiggy.com/4

In [20]:
for col in df_students.select_dtypes(include=['object']).columns:
    df_students[col] = df_students[col].str.strip()
    df_students[col] = df_students[col].str.replace('\s{2}',' ')

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11504\1704876398.py:3: SyntaxWarning: invalid escape sequence '\s'
  df_students[col] = df_students[col].str.replace('\s{2}',' ')

In [21]:
for col in df_internships.select_dtypes(include=['object']).columns:
    df_internships[col] = df_internships[col].str.strip()
    df_internships[col] = df_internships[col].str.replace('\s{2}',' ')

<>:3: SyntaxWarning: invalid escape sequence '\s'
<>:3: SyntaxWarning: invalid escape sequence '\s'
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11504\1098050834.py:3: SyntaxWarning: invalid escape sequence '\s'
  df_internships[col] = df_internships[col].str.replace('\s{2}',' ')

In [22]:
df_students = df_students.applymap(lambda x: x.lower() if isinstance(x, str) else x)
df_internships = df_internships.applymap(lambda x: x.lower() if isinstance(x, str) else x)

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11504\2803245379.py:1: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_students = df_students.applymap(lambda x: x.lower() if isinstance(x, str) else x)
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_11504\2803245379.py:2: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_internships = df_internships.applymap(lambda x: x.lower() if isinstance(x, str) else x)

In [23]:
df_students.head()

   id                                             skills location  stipend
0   1              sql, marketing, python, java, finance   jaipur    19319
1   2  machine learning, react, java, marketing, node.js   mumbai    18037
2   3      c++, react, machine learning, marketing, java    noida    11576
3   4                                          sql, java  kolkata    18557
4   5  react, node.js, marketing, python, machine lea...  kolkata    17394

In [24]:
df_internships.head()

,id,company_name,skills_required,location,stipend,duration,apply_link
0,1,wipro,"python, node.js, react",bangalore,20380,1 month,https://apply.wipro.com/0
1,2,paytm,"node.js, react",ahmedabad,8838,5 months,https://apply.paytm.com/1
2,3,swiggy,"java, communication, react",jaipur,16146,2 months,https://apply.swiggy.com/2
3,4,infosys,"node.js, finance",ahmedabad,21684,5 months,https://apply.infosys.com/3
4,5,swiggy,"marketing, react, c++, excel",bangalore,12064,4 months,https://apply.swiggy.com/4

In [25]:
df_students = df_students.drop_duplicates().reset_index(drop=True)
df_internships = df_internships.drop_duplicates().reset_index(drop=True)

In [26]:
df_students.location.value_counts()

location
jaipur       1043
mumbai       1017
delhi        1014
ahmedabad    1010
bangalore    1004
hyderabad     988
kolkata       984
pune          982
noida         980
chennai       978
Name: count, dtype: int64

In [27]:
df_internships.location.value_counts()

location
chennai      1039
jaipur       1017
delhi        1015
pune         1013
ahmedabad    1007
hyderabad    1006
kolkata       993
bangalore     991
noida         964
mumbai        955
Name: count, dtype: int64

In [28]:
df_students.skills.value_counts()

skills
finance, python                                         38
sql, python                                             34
python, finance                                         33
excel, react                                            32
node.js, c++                                            31
                                                        ..
finance, machine learning, marketing, node.js, react     1
python, finance, node.js, excel, java                    1
sql, react, java, marketing, node.js                     1
react, java, marketing, machine learning                 1
java, react, communication, finance, marketing           1
Name: count, Length: 5614, dtype: int64

In [29]:
df_internships.skills_required.value_counts()

skills_required
c++, finance                                     35
communication, finance                           34
finance, communication                           34
java, finance                                    34
marketing, finance                               33
                                                 ..
c++, java, machine learning, python               1
communication, python, react, excel               1
java, react, c++                                  1
react, communication, finance, java, python       1
java, python, machine learning, communication     1
Name: count, Length: 5634, dtype: int64

In [30]:
df_students['skills'] = df_students['skills'].apply(lambda x: x.split(',') if isinstance(x, str) else [])
df_internships['skills_required'] = df_internships['skills_required'].apply(lambda x: x.split(',') if isinstance(x, str) else [])

In [31]:
df_students.head()

   id                                             skills location  stipend
0   1        [sql,  marketing,  python,  java,  finance]   jaipur    19319
1   2  [machine learning,  react,  java,  marketing, ...   mumbai    18037
2   3  [c++,  react,  machine learning,  marketing,  ...    noida    11576
3   4                                       [sql,  java]  kolkata    18557
4   5  [react,  node.js,  marketing,  python,  machin...  kolkata    17394

In [32]:
df_internships.head()

,id,company_name,skills_required,location,stipend,duration,apply_link
0,1,wipro,"[python, node.js, react]",bangalore,20380,1 month,https://apply.wipro.com/0
1,2,paytm,"[node.js, react]",ahmedabad,8838,5 months,https://apply.paytm.com/1
2,3,swiggy,"[java, communication, react]",jaipur,16146,2 months,https://apply.swiggy.com/2
3,4,infosys,"[node.js, finance]",ahmedabad,21684,5 months,https://apply.infosys.com/3
4,5,swiggy,"[marketing, react, c++, excel]",bangalore,12064,4 months,https://apply.swiggy.com/4

In [33]:
df_students['skills'] = df_students['skills'].apply(lambda x: x if isinstance(x, list) else ([] if pd.notna(x) else []))
df_internships['skills_required'] = df_internships['skills_required'].apply(lambda x: x if isinstance(x, list) else ([] if pd.notna(x) else []))

In [34]:
df_students['skills'] = df_students['skills'].apply(lambda x: x.split(', ') if isinstance(x, str) else x)
df_internships['skills_required'] = df_internships['skills_required'].apply(lambda x: x.split(', ') if isinstance(x, str) else x)

In [35]:
from sklearn.preprocessing import MultiLabelBinarizer

mlb = MultiLabelBinarizer()

# Fit on combined unique skills from both datasets
all_skills = df_students['skills'].explode().dropna().unique().tolist() + df_internships['skills_required'].explode().dropna().unique().tolist()
mlb.fit([all_skills])  # Fit once on combined unique skills

# Transform 'skills' column in df_students
skills_dummies_students = pd.DataFrame(mlb.transform(df_students['skills']), columns=mlb.classes_)
df_students = pd.concat([df_students, skills_dummies_students], axis=1)

# Transform 'skills_required' column in df_internships
skills_dummies_internships = pd.DataFrame(mlb.transform(df_internships['skills_required']), columns=mlb.classes_)
df_internships = pd.concat([df_internships, skills_dummies_internships], axis=1)

In [36]:
print(df_students[['skills']].head())
print(df_internships[['skills_required']].head())

                                              skills
0        [sql,  marketing,  python,  java,  finance]
1  [machine learning,  react,  java,  marketing, ...
2  [c++,  react,  machine learning,  marketing,  ...
3                                       [sql,  java]
4  [react,  node.js,  marketing,  python,  machin...
                     skills_required
0         [python,  node.js,  react]
1                  [node.js,  react]
2     [java,  communication,  react]
3                [node.js,  finance]
4  [marketing,  react,  c++,  excel]

In [37]:
from sklearn.metrics.pairwise import cosine_similarity

# Compute the cosine similarity between df_students and df_internships skill sets
similarity_matrix = cosine_similarity(df_students[mlb.classes_], df_internships[mlb.classes_])

# Find the index of the most similar internship for each student (top match)
df_students['top_match'] = [df_internships.iloc[i].to_dict() for i in similarity_matrix.argmax(axis=1)]

# Optionally, get the similarity score (if you need to rank them)
df_students['similarity_score'] = similarity_matrix.max(axis=1)

In [38]:
# Display the first few rows of df_students to check the results
print(df_students[['id','top_match', 'similarity_score']])

         id                                          top_match  \
0         1  {'id': 2693, 'company_name': 'zomato', 'skills...
1         2  {'id': 2676, 'company_name': 'razorpay', 'skil...
2         3  {'id': 3272, 'company_name': 'flipkart', 'skil...
3         4  {'id': 26, 'company_name': 'ola', 'skills_requ...
4         5  {'id': 218, 'company_name': 'razorpay', 'skill...
...     ...                                                ...
9995   9996  {'id': 251, 'company_name': 'tcs', 'skills_req...
9996   9997  {'id': 790, 'company_name': 'infosys', 'skills...
9997   9998  {'id': 1902, 'company_name': 'zomato', 'skills...
9998   9999  {'id': 321, 'company_name': 'razorpay', 'skill...
9999  10000  {'id': 79, 'company_name': 'paytm', 'skills_re...

      similarity_score
0             0.894427
1             1.000000
2             1.000000
3             1.000000
4             0.894427
...                ...
9995          1.000000
9996          1.000000
9997          1.000000
9998          1.000000
9999          1.000000

[10000 rows x 3 columns]

In [39]:
# Check the range of similarity scores
print(df_students['similarity_score'].min())  # Should be 0
print(df_students['similarity_score'].max())  # Should be 1

0.8660254037844388
1.0000000000000002

In [40]:
# Sort students by similarity score in descending order
df_students_sorted = df_students.sort_values(by='similarity_score', ascending=False)

# Display the top students with the highest similarity scores
print(df_students_sorted[['id', 'top_match', 'similarity_score']].head())

         id                                          top_match  \
9973   9974  {'id': 16, 'company_name': 'wipro', 'skills_re...
13       14  {'id': 642, 'company_name': 'infosys', 'skills...
9972   9973  {'id': 1996, 'company_name': 'swiggy', 'skills...
9981   9982  {'id': 594, 'company_name': 'infosys', 'skills...
9999  10000  {'id': 79, 'company_name': 'paytm', 'skills_re...

      similarity_score
9973               1.0
13                 1.0
9972               1.0
9981               1.0
9999               1.0

In [41]:
# Save the results to a CSV file
df_students.to_csv('students_internship_matches.csv', index=False)

In [42]:
# One-hot encode the 'location' column for both df_students and df_internships
df_students = pd.get_dummies(df_students, columns=['location'], drop_first=True)
df_internships = pd.get_dummies(df_internships, columns=['location'], drop_first=True)

# Display the first few rows to check the results
print(df_students.head())
print(df_internships.head())

   id                                             skills  stipend   c++  \
0   1        [sql,  marketing,  python,  java,  finance]    19319     0
1   2  [machine learning,  react,  java,  marketing, ...    18037     0
2   3  [c++,  react,  machine learning,  marketing,  ...    11576     0
3   4                                       [sql,  java]    18557     0
4   5  [react,  node.js,  marketing,  python,  machin...    17394     0

    communication   excel   finance   java   machine learning   marketing  \
0               0       0         1      1                  0           1
1               0       0         0      1                  0           1
2               0       0         0      1                  1           1
3               0       0         0      1                  0           0
4               0       0         0      0                  1           1

   ...  similarity_score  location_bangalore  location_chennai  \
0  ...          0.894427               False             False
1  ...          1.000000               False             False
2  ...          1.000000               False             False
3  ...          1.000000               False             False
4  ...          0.894427               False             False

   location_delhi  location_hyderabad  location_jaipur  location_kolkata  \
0           False               False             True             False
1           False               False            False             False
2           False               False            False             False
3           False               False            False              True
4           False               False            False              True

   location_mumbai  location_noida  location_pune
0            False           False          False
1             True           False          False
2            False            True          False
3            False           False          False
4            False           False          False

[5 rows x 36 columns]
   id company_name                    skills_required  stipend  duration  \
0   1        wipro         [python,  node.js,  react]    20380   1 month
1   2        paytm                  [node.js,  react]     8838  5 months
2   3       swiggy     [java,  communication,  react]    16146  2 months
3   4      infosys                [node.js,  finance]    21684  5 months
4   5       swiggy  [marketing,  react,  c++,  excel]    12064  4 months

                    apply_link   c++   communication   excel   finance  ...  \
0    https://apply.wipro.com/0     0               0       0         0  ...
1    https://apply.paytm.com/1     0               0       0         0  ...
2   https://apply.swiggy.com/2     0               1       0         0  ...
3  https://apply.infosys.com/3     0               0       0         1  ...
4   https://apply.swiggy.com/4     1               0       1         0  ...

   sql  location_bangalore  location_chennai  location_delhi  \
0    0                True             False           False
1    0               False             False           False
2    0               False             False           False
3    0               False             False           False
4    0                True             False           False

   location_hyderabad  location_jaipur  location_kolkata  location_mumbai  \
0               False            False             False            False
1               False            False             False            False
2               False             True             False            False
3               False            False             False            False
4               False            False             False            False

   location_noida  location_pune
0           False          False
1           False          False
2           False          False
3           False          False
4           False          False

[5 rows x 37 columns]

In [43]:
df_students.head()

,id,skills,stipend,c++,communication,excel,finance,java,machine learning,marketing,...,similarity_score,location_bangalore,location_chennai,location_delhi,location_hyderabad,location_jaipur,location_kolkata,location_mumbai,location_noida,location_pune
0,1,"[sql, marketing, python, java, finance]",19319,0,0,0,1,1,0,1,...,0.894427,False,False,False,False,True,False,False,False,False
1,2,"[machine learning, react, java, marketing, ...",18037,0,0,0,0,1,0,1,...,1.000000,False,False,False,False,False,False,True,False,False
2,3,"[c++, react, machine learning, marketing, ...",11576,0,0,0,0,1,1,1,...,1.000000,False,False,False,False,False,False,False,True,False
3,4,"[sql, java]",18557,0,0,0,0,1,0,0,...,1.000000,False,False,False,False,False,True,False,False,False
4,5,"[react, node.js, marketing, python, machin...",17394,0,0,0,0,0,1,1,...,0.894427,False,False,False,False,False,True,False,False,False

In [44]:
df_internships.head()

,id,company_name,skills_required,stipend,duration,apply_link,c++,communication,excel,finance,...,sql,location_bangalore,location_chennai,location_delhi,location_hyderabad,location_jaipur,location_kolkata,location_mumbai,location_noida,location_pune
0,1,wipro,"[python, node.js, react]",20380,1 month,https://apply.wipro.com/0,0,0,0,0,...,0,True,False,False,False,False,False,False,False,False
1,2,paytm,"[node.js, react]",8838,5 months,https://apply.paytm.com/1,0,0,0,0,...,0,False,False,False,False,False,False,False,False,False
2,3,swiggy,"[java, communication, react]",16146,2 months,https://apply.swiggy.com/2,0,1,0,0,...,0,False,False,False,False,True,False,False,False,False
3,4,infosys,"[node.js, finance]",21684,5 months,https://apply.infosys.com/3,0,0,0,1,...,0,False,False,False,False,False,False,False,False,False
4,5,swiggy,"[marketing, react, c++, excel]",12064,4 months,https://apply.swiggy.com/4,1,0,1,0,...,0,True,False,False,False,False,False,False,False,False

In [45]:
df_students.size

360000

In [46]:
from sklearn.preprocessing import MinMaxScaler

# Initialize the MinMaxScaler to scale stipend values between 0 and 1
scaler = MinMaxScaler()

# Scale stipend/ salary for both students and internships
df_students['stipend_scaled'] = scaler.fit_transform(df_students[['stipend']])
df_internships['stipend_scaled'] = scaler.fit_transform(df_internships[['stipend']])

In [47]:
df_students['stipend_scaled'].head()

0    0.716057
1    0.651948
2    0.328849
3    0.677952
4    0.619793
Name: stipend_scaled, dtype: float64

In [48]:
# Load necessary libraries
from sentence_transformers import SentenceTransformer
from sklearn.metrics.pairwise import cosine_similarity
import pandas as pd
import numpy as np

# Pre-trained Sentence-BERT model for skills similarity
model = SentenceTransformer('all-MiniLM-L6-v2')

# 1. Convert skills to embeddings using Sentence-BERT model
student_embeddings = model.encode(df_students['skills'].tolist())
internship_embeddings = model.encode(df_internships['skills_required'].tolist())

# 2. Calculate cosine similarity between students' skills and internships' skills
skills_similarity = cosine_similarity(student_embeddings, internship_embeddings)
print(skills_similarity)

[[0.01909767 0.03860581 0.24410775 ... 0.54234236 0.2209384  0.36163023]
 [0.28848282 0.62953675 0.16127014 ... 0.05161899 0.5194845  0.1979841 ]
 [0.25374034 0.6795845  0.21345098 ... 0.01168206 0.16375868 0.16170415]
 ...
 [0.62544453 0.5678395  0.13959119 ... 0.06351297 0.49416655 0.5375403 ]
 [0.42412332 0.10401092 0.28679985 ... 0.43803757 0.5310857  0.01871747]
 [0.2712006  0.01329346 0.13663325 ... 0.9944005  0.46165422 0.45383188]]

In [49]:
location_columns_students = [col for col in df_students.columns if col.startswith('location_')]
location_columns_internships = [col for col in df_internships.columns if col.startswith('location_')]

# Create a single 'location' column by summing the one-hot encoded columns
df_students['location'] = df_students[location_columns_students].sum(axis=1)
df_internships['location'] = df_internships[location_columns_internships].sum(axis=1)
# Convert 'location' columns to integers (0 or 1)
df_students['location'] = df_students['location'].astype(int)
df_internships['location'] = df_internships['location'].astype(int)

# Align the DataFrames to ensure they have the same columns
df_students, df_internships = df_students.align(df_internships, join='outer', axis=1, fill_value=0)

# Now perform the location match calculation using matrix multiplication
location_match = np.dot(df_students[['location']].values, df_internships[['location']].values.T)

# Convert the result to 1 for a match (if location_match > 0) and 0 for no match
location_match = (location_match > 0).astype(int)

# Convert the result to a DataFrame for easier reading
location_match_df = pd.DataFrame(location_match, columns=df_internships['id'], index=df_students['id'])

# Now you have a DataFrame that shows the location match between each student and each internship
print(location_match_df)

id     1      2      3      4      5      6      7      8      9      10     \
id
1          1      0      1      0      1      1      0      1      1      1
2          1      0      1      0      1      1      0      1      1      1
3          1      0      1      0      1      1      0      1      1      1
4          1      0      1      0      1      1      0      1      1      1
5          1      0      1      0      1      1      0      1      1      1
...      ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9996       1      0      1      0      1      1      0      1      1      1
9997       1      0      1      0      1      1      0      1      1      1
9998       1      0      1      0      1      1      0      1      1      1
9999       1      0      1      0      1      1      0      1      1      1
10000      1      0      1      0      1      1      0      1      1      1

id     ...  9991   9992   9993   9994   9995   9996   9997   9998   9999   \
id     ...
1      ...      1      1      1      1      1      1      1      1      1
2      ...      1      1      1      1      1      1      1      1      1
3      ...      1      1      1      1      1      1      1      1      1
4      ...      1      1      1      1      1      1      1      1      1
5      ...      1      1      1      1      1      1      1      1      1
...    ...    ...    ...    ...    ...    ...    ...    ...    ...    ...
9996   ...      1      1      1      1      1      1      1      1      1
9997   ...      1      1      1      1      1      1      1      1      1
9998   ...      1      1      1      1      1      1      1      1      1
9999   ...      1      1      1      1      1      1      1      1      1
10000  ...      1      1      1      1      1      1      1      1      1

id     10000
id
1          1
2          1
3          1
4          1
5          1
...      ...
9996       1
9997       1
9998       1
9999       1
10000      1

[10000 rows x 10000 columns]

In [50]:


# Calculate the maximum stipend value from both students and internships
max_stipend = max(df_students['stipend_scaled'].max(), df_internships['stipend_scaled'].max())

# Create a matrix of stipend differences between students and internships
stipend_diff_matrix = np.abs(df_students['stipend_scaled'].values[:, np.newaxis] - df_internships['stipend_scaled'].values)

# Normalize by dividing by the maximum stipend value
stipend_similarity_matrix = 1 - (stipend_diff_matrix / max_stipend)

# Convert to DataFrame for easier analysis
stipend_similarity_df = pd.DataFrame(stipend_similarity_matrix, columns=df_internships['id'], index=df_students['id'])

print(stipend_similarity_df)

id        1         2         3         4         5         6         7      \
id
1      0.947081  0.475762  0.841198  0.881874  0.637078  0.835998  0.313396
2      0.882971  0.539871  0.905308  0.817764  0.701188  0.900107  0.377505
3      0.559872  0.862970  0.771594  0.494666  0.975714  0.776794  0.700604
4      0.908975  0.513867  0.879304  0.843768  0.675184  0.874104  0.351501
5      0.850816  0.572026  0.937463  0.785610  0.733342  0.932262  0.409660
...         ...       ...       ...       ...       ...       ...       ...
9996   0.786956  0.635886  0.998678  0.721750  0.797202  0.996122  0.473520
9997   0.263978  0.841136  0.475699  0.198772  0.679820  0.480900  0.996498
9998   0.924450  0.347293  0.712729  0.989657  0.508609  0.707529  0.184926
9999   0.876143  0.298985  0.664422  0.941349  0.460301  0.659221  0.136619
10000  0.353641  0.930799  0.565363  0.288435  0.769483  0.570563  0.906835

id        8         9         10     ...     9991      9992      9993   \
id                                   ...
1      0.803166  0.900776  0.779064  ...  0.953131  0.360600  0.374102
2      0.739057  0.836666  0.714954  ...  0.889021  0.424710  0.438211
3      0.415958  0.513568  0.391856  ...  0.565923  0.747808  0.761310
4      0.765060  0.862670  0.740958  ...  0.915025  0.398706  0.412207
5      0.706902  0.804511  0.682799  ...  0.856867  0.456865  0.470366
...         ...       ...       ...  ...       ...       ...       ...
9996   0.643042  0.740652  0.618940  ...  0.793007  0.520724  0.534226
9997   0.120064  0.217673  0.095961  ...  0.270029  0.956297  0.942796
9998   0.931635  0.970755  0.907533  ...  0.918400  0.232131  0.245632
9999   0.979943  0.922448  0.955840  ...  0.870092  0.183824  0.197325
10000  0.209727  0.307337  0.185625  ...  0.359692  0.954039  0.967541

id        9994      9995      9996      9997      9998      9999      10000
id
1      0.297044  0.722808  0.635028  0.956160  0.326847  0.562470  0.935258
2      0.361154  0.658698  0.699137  0.979731  0.390956  0.626580  0.999367
3      0.684252  0.335600  0.977764  0.656632  0.714055  0.949679  0.677534
4      0.335150  0.684702  0.673133  0.994266  0.364953  0.600576  0.973363
5      0.393308  0.626544  0.731292  0.947576  0.423111  0.658735  0.968478
...         ...       ...       ...       ...       ...       ...       ...
9996   0.457168  0.562684  0.795152  0.883716  0.486971  0.722594  0.904618
9997   0.980146  0.039706  0.681870  0.360738  0.990051  0.754427  0.381640
9998   0.168575  0.851277  0.506558  0.827691  0.198378  0.434001  0.806788
9999   0.120267  0.899585  0.458251  0.779383  0.150070  0.385694  0.758481
10000  0.890483  0.129369  0.771533  0.450401  0.920286  0.844091  0.471303

[10000 rows x 10000 columns]

In [51]:
# Convert all the similarities into matrices
skills_similarity_matrix = np.array(skills_similarity)
location_similarity_matrix = location_match_df.values
stipend_similarity_matrix = stipend_similarity_df.values

# Calculate the ranking scores using matrix operations
ranking_scores_matrix = (0.5 * skills_similarity_matrix) + (0.3 * location_similarity_matrix) + (0.2 * stipend_similarity_matrix)

# Create a DataFrame for the ranking scores
ranking_data = {
    'student_id': np.repeat(df_students['id'].values, len(df_internships)),
    'internship_id': np.tile(df_internships['id'].values, len(df_students)),
    'skills_similarity': skills_similarity_matrix.flatten(),
    'location_match': location_similarity_matrix.flatten(),
    'stipend_similarity': stipend_similarity_matrix.flatten(),
    'ranking_score': ranking_scores_matrix.flatten()
}

ranking_df = pd.DataFrame(ranking_data)

# Display the first few rows of the ranking DataFrame
print(ranking_df.head())

   student_id  internship_id  skills_similarity  location_match  \
0           1              1           0.019098               1
1           1              2           0.038606               0
2           1              3           0.244108               1
3           1              4           0.230532               0
4           1              5           0.538899               1

   stipend_similarity  ranking_score
0            0.947081       0.498965
1            0.475762       0.114455
2            0.841198       0.590294
3            0.881874       0.291641
4            0.637078       0.696865

In [ ]:
# Features for training
X = ranking_df[['skills_similarity', 'location_match', 'stipend_similarity']]

# Target (ranking_score)
y = ranking_df['ranking_score']

# Train-test split
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Train an XGBoost regressor model
import xgboost as xgb
model = xgb.XGBRegressor(objective='reg:squarederror', eval_metric='rmse')
model.fit(X_train, y_train)

# Evaluate the model
y_pred = model.predict(X_test)

from sklearn.metrics import mean_squared_error
mse = mean_squared_error(y_test, y_pred)
print(f'Mean Squared Error: {mse}')

In [ ]:
import joblib

joblib.dump(model, "C:/Users/Lenovo/xgboost_ranking_model.pkl")
print("Model saved successfully!")

In [1]:
import joblib
model = joblib.load("C:/Users/Lenovo/xgboost_ranking_model.pkl")

In [3]:
pip install gradio

Requirement already satisfied: gradio in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (5.23.3)
Collecting aiofiles<24.0,>=22.0 (from gradio)
  Using cached aiofiles-23.2.1-py3-none-any.whl.metadata (9.7 kB)
Requirement already satisfied: anyio<5.0,>=3.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (4.6.2.post1)
Requirement already satisfied: audioop-lts<1.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (0.2.1)
Requirement already satisfied: fastapi<1.0,>=0.115.2 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (0.115.9)
Requirement already satisfied: ffmpy in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (0.5.0)
Requirement already satisfied: gradio-client==1.8.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (1.8.0)
Requirement already satisfied: groovy~=0.1 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (0.1.2)
Requirement already satisfied: httpx>=0.24.1 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (0.28.1)
Requirement already satisfied: huggingface-hub>=0.28.1 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (0.29.2)
Requirement already satisfied: jinja2<4.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (3.1.4)
Requirement already satisfied: markupsafe<4.0,>=2.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (3.0.1)
Requirement already satisfied: numpy<3.0,>=1.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (2.1.2)
Requirement already satisfied: orjson~=3.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (3.10.15)
Requirement already satisfied: packaging in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (24.1)
Requirement already satisfied: pandas<3.0,>=1.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (2.2.3)
Requirement already satisfied: pillow<12.0,>=8.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (10.4.0)
Requirement already satisfied: pydantic<2.12,>=2.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (2.10.6)
Requirement already satisfied: pydub in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (0.25.1)
Requirement already satisfied: python-multipart>=0.0.18 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (0.0.20)
Requirement already satisfied: pyyaml<7.0,>=5.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (6.0.2)
Requirement already satisfied: ruff>=0.9.3 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (0.11.3)
Requirement already satisfied: safehttpx<0.2.0,>=0.1.6 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (0.1.6)
Requirement already satisfied: semantic-version~=2.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (2.10.0)
Requirement already satisfied: starlette<1.0,>=0.40.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (0.45.3)
Requirement already satisfied: tomlkit<0.14.0,>=0.12.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (0.13.2)
Requirement already satisfied: typer<1.0,>=0.12 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (0.15.2)
Requirement already satisfied: typing-extensions~=4.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (4.12.2)
Requirement already satisfied: uvicorn>=0.14.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio) (0.34.0)
Requirement already satisfied: fsspec in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio-client==1.8.0->gradio) (2025.2.0)
Requirement already satisfied: websockets<16.0,>=10.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from gradio-client==1.8.0->gradio) (14.2)
Requirement already satisfied: idna>=2.8 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from anyio<5.0,>=3.0->gradio) (3.10)
Requirement already satisfied: sniffio>=1.1 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from anyio<5.0,>=3.0->gradio) (1.3.1)
Requirement already satisfied: certifi in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from httpx>=0.24.1->gradio) (2024.8.30)
Requirement already satisfied: httpcore==1.* in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from httpx>=0.24.1->gradio) (1.0.6)
Requirement already satisfied: h11<0.15,>=0.13 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from httpcore==1.*->httpx>=0.24.1->gradio) (0.14.0)
Requirement already satisfied: filelock in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from huggingface-hub>=0.28.1->gradio) (3.17.0)
Requirement already satisfied: requests in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from huggingface-hub>=0.28.1->gradio) (2.32.3)
Requirement already satisfied: tqdm>=4.42.1 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from huggingface-hub>=0.28.1->gradio) (4.66.5)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas<3.0,>=1.0->gradio) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas<3.0,>=1.0->gradio) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pandas<3.0,>=1.0->gradio) (2024.2)
Requirement already satisfied: annotated-types>=0.6.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pydantic<2.12,>=2.0->gradio) (0.7.0)
Requirement already satisfied: pydantic-core==2.27.2 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from pydantic<2.12,>=2.0->gradio) (2.27.2)
Requirement already satisfied: click>=8.0.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from typer<1.0,>=0.12->gradio) (8.1.7)
Requirement already satisfied: shellingham>=1.3.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from typer<1.0,>=0.12->gradio) (1.5.4)
Requirement already satisfied: rich>=10.11.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from typer<1.0,>=0.12->gradio) (13.9.4)
Requirement already satisfied: colorama in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from click>=8.0.0->typer<1.0,>=0.12->gradio) (0.4.6)
Requirement already satisfied: six>=1.5 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from python-dateutil>=2.8.2->pandas<3.0,>=1.0->gradio) (1.16.0)
Requirement already satisfied: markdown-it-py>=2.2.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from rich>=10.11.0->typer<1.0,>=0.12->gradio) (3.0.0)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from rich>=10.11.0->typer<1.0,>=0.12->gradio) (2.18.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from requests->huggingface-hub>=0.28.1->gradio) (3.4.0)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from requests->huggingface-hub>=0.28.1->gradio) (2.2.3)
Requirement already satisfied: mdurl~=0.1 in c:\users\lenovo\appdata\local\programs\python\python313\lib\site-packages (from markdown-it-py>=2.2.0->rich>=10.11.0->typer<1.0,>=0.12->gradio) (0.1.2)
Using cached aiofiles-23.2.1-py3-none-any.whl (15 kB)
Installing collected packages: aiofiles
  Attempting uninstall: aiofiles
    Found existing installation: aiofiles 24.1.0
    Uninstalling aiofiles-24.1.0:
      Successfully uninstalled aiofiles-24.1.0
Successfully installed aiofiles-23.2.1
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
crawl4ai 0.5.0.post8 requires aiofiles>=24.1.0, but you have aiofiles 23.2.1 which is incompatible.

In [7]:
import joblib
import pandas as pd
import numpy as np
import gradio as gr
from sklearn.preprocessing import LabelEncoder

# Load the trained model and dataset
model = joblib.load("C:/Users/Lenovo/xgboost_ranking_model.pkl")
df_internships = pd.read_csv("C:/Users/Lenovo/internships_india.csv")

# Preprocess dataset
df_internships['skills_required'] = df_internships['skills_required'].astype(str).str.lower().str.replace(r'\s+', ' ', regex=True).str.strip()
df_internships['location'] = df_internships['location'].astype(str).str.lower().str.replace(r'\s+', ' ', regex=True).str.strip()

# Skill similarity function
def compute_skill_similarity(skills_required, user_skills):
    internship_skills = set(skills_required.split(", "))  
    matching_skills = internship_skills.intersection(user_skills)  
    return len(matching_skills) / max(len(user_skills), 1)

# **Main prediction function**
def recommend_internships(skills, location, stipend):
    skills = skills.lower().strip()
    location = location.lower().strip()
    stipend = float(stipend)

    user_skills = {skill.strip() for skill in skills.split(",") if skill.strip()}

    df_internships['skills_similarity'] = df_internships['skills_required'].apply(lambda x: compute_skill_similarity(x, user_skills))
    df_internships['location_match'] = (df_internships['location'] == location).astype(int)
    df_internships['stipend_similarity'] = 1 - (abs(df_internships['stipend'] - stipend) / max(stipend, 1))

    matching_internships = df_internships[(df_internships['skills_similarity'] > 0) & (df_internships['location_match'] == 1)]

    if matching_internships.empty:
        return "No internships found for your input."

    input_data = matching_internships[['skills_similarity', 'stipend_similarity', 'location_match']]
    
    # Ensure feature order matches the trained model
    input_data = input_data[['skills_similarity', 'location_match', 'stipend_similarity']]

    y_pred = model.predict(input_data)

    matching_internships['predicted_score'] = y_pred
    matching_internships = matching_internships.sort_values(by=["skills_similarity", "stipend_similarity", "predicted_score"], ascending=[False, False, False])

    top_internships = matching_internships.head(10)

    # Format output as a readable HTML table
    result_html = f"""
    <style>
        table {{
            width: 100%;
            border-collapse: collapse;
            font-size: 16px;
            text-align: left;
        }}
        th, td {{
            padding: 10px;
            border-bottom: 1px solid #ddd;
        }}
        th {{
            background-color: #4CAF50;
            color: white;
        }}
        tr:nth-child(even) {{ background-color: #f2f2f2; }}
        tr:hover {{ background-color: #ddd; }}
    </style>
    <h3>🔍 Top Internship Recommendations</h3>
    <table>
        <tr>
            <th>Company</th>
            <th>Skills Required</th>
            <th>Location</th>
            <th>Stipend (₹)</th>
            <th>Predicted Score</th>
        </tr>
    """

    for _, row in top_internships.iterrows():
        result_html += f"""
        <tr>
            <td>{row['company_name']}</td>
            <td>{row['skills_required']}</td>
            <td>{row['location'].capitalize()}</td>
            <td>₹ {int(row['stipend'])}</td>
            <td>{round(row['predicted_score'], 4)}</td>
        </tr>
        """

    result_html += "</table>"
    return result_html

# **Gradio UI**
interface = gr.Interface(
    fn=recommend_internships,
    inputs=[
        gr.Textbox(label="🎯 Enter Skills (e.g., C++, Python, Data Science)", placeholder="C++, Python, ML"),
        gr.Textbox(label="📍 Enter Location (e.g., Bangalore, Mumbai)", placeholder="Mumbai"),
        gr.Number(label="💰 Expected Stipend (₹)", value=5000)
    ],
    outputs=gr.HTML(),
    title="🚀 Internship Recommendation System",
    description="🔎 Find the **best internships** based on your **skills, location, and stipend expectations**. Just enter your details and get recommendations!",
    theme="default"
)

# Run the Gradio app
if __name__ == "__main__":
    interface.launch()

* Running on local URL:  http://127.0.0.1:7861

To create a public link, set `share=True` in `launch()`.

C:\Users\Lenovo\AppData\Local\Temp\ipykernel_3844\3589805857.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matching_internships['predicted_score'] = y_pred
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_3844\3589805857.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matching_internships['predicted_score'] = y_pred
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_3844\3589805857.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matching_internships['predicted_score'] = y_pred
C:\Users\Lenovo\AppData\Local\Temp\ipykernel_3844\3589805857.py:45: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  matching_internships['predicted_score'] = y_pred